{% extends 'base.html.twig' %}

{% block body %}
    <div class="js-articles" data-last-article-id="{{ articles|last.id }}"></div>
    {% include 'article/includes/_articles_container.html.twig' with {
        'articles': articles,
        'display_more_articles_button': display_more_articles_button
        }
    %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('articles') }}
{% endblock %}